list:
    path: /
    controller: App\Accounts\Delivery\Api\V1\Accounts\Controllers\ListController
    methods: GET
    defaults:
        operation: 'getSearchAccounts'
        responses:
            200: 'schemas/AccountSearchResult'

create:
    path: /
    controller: App\Accounts\Delivery\Api\V1\Accounts\Controllers\CreateController
    methods: POST
    defaults:
        operation: 'postCreateAccount'
        responses:
            201: 'schemas/Account'
            400: 'schemas/Error'
            422: 'schemas/Error'

view:
    path: /{id}
    controller: App\Accounts\Delivery\Api\V1\Accounts\Controllers\ViewController
    methods: GET
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'getViewAccount'
        responses:
            200: 'schemas/Account'

change_name:
    path: /{id}/change-name
    controller: App\Accounts\Delivery\Api\V1\Accounts\Controllers\ChangeNameController
    methods: PUT|PATCH
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'putChangeAccountName'
        responses:
            200: 'schemas/Account'
            404: 'schemas/Error'

destroy:
    path: /{id}
    controller: App\Accounts\Delivery\Api\V1\Accounts\Controllers\DestroyController
    methods: DELETE
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'deleteAccount'
        responses:
            204: ~
            400: 'schemas/Error'
            404: 'schemas/Error'

activate:
    path: /{id}/activate
    controller: App\Accounts\Delivery\Api\V1\Accounts\Controllers\ActivationController::activateAction
    methods: POST
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'postActivateAccount'
        responses:
            200: 'schemas/Account'
            400: 'schemas/Error'
            404: 'schemas/Error'
            422: 'schemas/Error'

deactivate:
    path: /{id}/deactivate
    controller: App\Accounts\Delivery\Api\V1\Accounts\Controllers\ActivationController::deactivateAction
    methods: POST
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'postDeactivateAccount'
        responses:
            200: 'schemas/Account'
            400: 'schemas/Error'
            404: 'schemas/Error'
            422: 'schemas/Error'
