list:
    path: /
    controller: App\Users\Delivery\Api\V1\Users\Controllers\ListController
    methods: GET
    defaults:
        operation: 'getSearchUsers'
        responses:
            200: 'schemas/UserSearchResult'

create:
    path: /
    controller: App\Users\Delivery\Api\V1\Users\Controllers\CreateController
    methods: POST
    defaults:
        operation: 'postCreateUser'
        responses:
            201: 'schemas/User'
            400: 'schemas/Error'
            422: 'schemas/Error'

view:
    path: /{id}
    controller: App\Users\Delivery\Api\V1\Users\Controllers\ViewController
    methods: GET
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'getViewUser'
        responses:
            200: 'schemas/User'
            404: 'schemas/Error'

destroy:
    path: /{id}
    controller: App\Users\Delivery\Api\V1\Users\Controllers\DestroyController
    methods: DELETE
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'deleteUser'
        responses:
            204: ~
            404: 'schemas/Error'

activate:
    path: /{id}/activate
    controller: App\Users\Delivery\Api\V1\Users\Controllers\ActivationController::activateAction
    methods: POST
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'postActivateUser'
        responses:
            200: 'schemas/User'
            404: 'schemas/Error'
            422: 'schemas/Error'

deactivate:
    path: /{id}/deactivate
    controller: App\Users\Delivery\Api\V1\Users\Controllers\ActivationController::deactivateAction
    methods: POST
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'postDeactivateUser'
        responses:
            200: 'schemas/User'
            404: 'schemas/Error'
            422: 'schemas/Error'

change_account:
    path: /{id}/change-account
    controller: App\Users\Delivery\Api\V1\Users\Controllers\ChangeAccountController
    methods: PUT|PATCH
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'putChangeUserAccount'
        responses:
            200: 'schemas/User'
            404: 'schemas/Error'
            422: 'schemas/Error'

change_auth_credentials:
    path: /{id}/change-auth
    controller: App\Users\Delivery\Api\V1\Users\Controllers\ChangeAuthCredentialsController
    methods: PUT|PATCH
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'putChangeUserAuthCredentials'
        responses:
            200: 'schemas/User'
            404: 'schemas/Error'
            422: 'schemas/Error'

change_name:
    path: /{id}/change-name
    controller: App\Users\Delivery\Api\V1\Users\Controllers\ChangeNameController
    methods: PUT|PATCH
    requirements:
        id: '%route.requirements.uuid%'
    defaults:
        operation: 'putChangeUserName'
        responses:
            200: 'schemas/User'
            404: 'schemas/Error'
            422: 'schemas/Error'
